<section class="admin-section">
  <div class="container">
    <h3 class="text-center-not-sm">Instructor Schedule</h3>

    <%= render '/shared/flash_messages' unless flash.empty? %>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <div id="datepicker"></div>
          </div>
          <div class="col-sm-8">
            <div id="schedule-form-wrapper">
              <%= render partial: "form", locals: { date: @date } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  init.push(function () {
    $( "#datepicker" ).datepicker({
      defaultDate: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>),
      onSelect: function(selectedDate) {
        // custom callback logic here
        window.location = '/admin/schedule?date=' + selectedDate;
      }
    });
  });
</script>
