<div class="well" style="background-color: transparent; border: 1px solid rgba(255,255,255,0.5);">
  <div class="row">
    <div class="col-xs-7">
      <h4><%= service.name %></small></h4>
    </div>
    <div class="col-xs-5">

      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: yellow"><%= number_to_currency service.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :service_id, value: service.id %>
            <%= f.submit "Add to Cart", class: "btn btn-default" %>
          </div>
        </div>
      <% end %>

      <div id="checkout-link">
        <%= link_to "Checkout Now", cart_path, class: 'btn btn-link', style: 'color: yellow;' %>
      </div>
    </div>
  </div>
</div>
