<section class="admin-section" style="padding: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body" style="padding: 0;">
            <table class="table table-striped" style="margin: 0;">
              <tbody>
              <% @products.each do |product| %>
              <tr>
                <td style="border-top: 0; color: #333;" class="text-left<% if product.offer_code.present? %> has-offer<% end %>">
                  <h4><%= product.name %></h4>
                </td>
                <td style="border-top: 0; color: #333;" class="text-right hidden-xs"><h4><%= number_to_currency product.price %></h4></td>
                <td style="border-top: 0; vertical-align: middle;">
                  <% if current_user %>
                    <%= product.paypal_button(current_user.id) %>
                  <% else %>
                    <%= link_to 'Login to Purchase', '/users/sign_in', class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer text-center">
            <em style="color: #333; font-weight: bold;">Please note: lessons expire 1 year from purchase.</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <p class="col-sm-8 col-sm-offset-2">All you will need to bring is your childs swim suit and a swim diaper. I recommend getting a reusable one, you can find them online on amazon.com</p>
    </div>
    <%= form_tag our_lessons_path, method: :get do %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <div style="background-color: #fff; padding: 20px; border: 2px dashed #000;">
            <h5 style="padding-top: 0; margin-top: 0;">Do you have a offer code?</h5>
            <input style="margin-bottom: 10px;" type="text" name="offer_code" class="form-control" placeholder="Enter offer code here" value="<%= params[:offer_code] %>" />
            <button type="submit" class="btn btn-primary btn-block">Show Offer</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
