<% content_for(:title) do %>Our Lessons<% end %>
<% content_for(:scripts) do %>
<script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>

<section class="cta-blue" style="padding-bottom: 3%;">
  <div class="container">
    <%= render '/shared/flash_messages' unless flash.empty? %>

    <h1>$18 per lesson or 30 lessons for $15 each</h1>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body" style="padding: 0;">
            <table class="table table-striped" style="margin: 0;">
              <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td style="border-top: 0; color: #333;" class="text-left<% if product.offer_code.present? %> has-offer<% end %>">
                    <h4><%= product.name %></h4>
                  </td>
                  <td style="border-top: 0; color: #333;" class="text-right hidden-xs"><h4><%= number_to_currency product.price %></h4></td>
                  <td style="border-top: 0; vertical-align: middle;">
                    <% if current_user %>
                      <div class="input-group" style="max-width: 180px; float: right;">
                        <input class="form-control" type="text"
                               data-product-id="<%= product.id %>"
                               name="quantity[<%= product.id %>]"
                               id="quantity_<%= product.id %>"
                               placeholder="Quantity" />
                        <span class="input-group-btn">
                          <button type="button"
                            data-amount="<%= product.stripe_amount %>"
                            data-name="<%= product.name %>"
                            data-lesson-count="<%= product.quantity %>"
                            data-description="<%= pluralize(product.quantity, 'Lesson') %>"
                            data-trigger="purchase"
                            data-product-id="<%= product.id %>"
                            class="btn btn-primary">Buy Now</button>
                        </span>
                      </div>
                    <% else %>
                      <%= link_to 'Login to Purchase', '/users/sign_in', class: 'btn btn-sm btn-primary' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer text-center">
            <p style="font-size: 13px; font-weight: 300; color: #333; font-style: italic;">
              Terms: Lessons expire 1 year from purchase. To cancel a scheduled swimming lesson, you must do so at least 24 hours in advance. By purchasing lessons, you agree to these terms.
            </p>
            <p style="font-size: 13px; font-weight: 300; color: #333; font-style: italic;">
              * This package deal can be split between multiple students.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <p class="col-sm-8 col-sm-offset-2">All you will need to bring is your childs swim suit and a swim diaper. I recommend getting a reusable one, you can find them online on amazon.com</p>
    </div>
    <%= form_tag our_lessons_path, method: :get do %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <div style="background-color: #fff; padding: 20px; border: 2px dashed #000;">
            <h5 style="padding-top: 0; margin-top: 0; color: #333;">Do you have a offer code?</h5>
            <input style="margin-bottom: 10px;" type="text" name="offer_code" class="form-control" placeholder="Enter offer code here" value="<%= params[:offer_code] %>" />
            <button type="submit" class="btn btn-primary btn-block">Show Offer</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/OUiF6nu2qm0?feature=oembed" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Infant Lessons</h2>
      <p>Infant lessons are designed to introduce babies to the water, and begin life saving skills. Infant survival skills begin with holding their breath, grabbing and holding onto walls, flipping to their back and floating. What makes our program different is, as these skills are being taught we add kicking back to the wall, rolling over to grab the wall & “pancakes’ which teach children how to roll from their tummy to their back independently.</p>
      <p>Many people have seen videos of children falling into the pool fully clothed and then floating, what they don’t learn is how to get them selves back to the wall or step, we teach that from day 1. When you enroll an infant, you will be doing lessons for a minimum of 6 months. They have to come often and come consistently in order to start learning these skills at that age 3+ months old.</p>
    </div>
  </div>

  <hr style="margin: 25px 0;">

  <div class="row">
    <div class="col-sm-6">
      <h2>Toddler Lessons</h2>
      <p>Toddler lessons are great for little swimmers who are just starting out and need to get adjusted to water. We will work pretty quickly in getting them adjusted and comfortable with the water. Usually in these first few lessons there are some separation issues with the parents. It’s best for the child if for the first few lessons they don’t even see you. We don’t do a lot of games or play around with the children. Our focus is safety first, period.</p>
      <p>We want to see the child get safe as quickly as possible. There are three stages that the child will go through. One is swallowing water, two is swallowing air, and three is blowing bubbles. Depending on the child, we may be able to go through these steps quickly, or we may have to spend some time on steps one and two. During this stage in lessons they will learn to swim to walls, off steps, roll to their back and back to their stomach, float independently, jump and dive into water, and pick up diving rings.</p>
    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/_POB_lk5sr0?feature=oembed" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <hr style="margin: 25px 0;">

  <div class="row" style="margin-bottom: 45px;">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/IFJp9HAiNeE?feature=oembed" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Regular Lessons</h2>
      <p>Regular lessons are for those who are comfortable in the water and can blow bubbles. In this level, we focus on freestyle and backstroke. We will teach drills for front and backstroke.</p>
      <p>Once they become proficient in these drills and get to the point where we don’t have to stay in the water with them, then they can move into our “swim team training” program. We will teach all four of the racing strokes if they want, along with racing dives, flip turns, and circle swim.</p>
      <p>We will get them to be able to pick up dive sticks from the steps to the deep end. We will also teach them how to torpedo through the water, building lung capacity and endurance.</p>
    </div>
  </div>
</div>

<script>
  init.push(function() {
    window.currentProduct = {};

    var handler = StripeCheckout.configure({
      key: '<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>',
      image: '<%= asset_path('icon-add.png') %>',
      locale: 'auto',
      allowRememberMe: false,
      zipCode: false,
      billingAddress: false,
      token: function(token) {
        var request = $.ajax({
          method: 'POST',
          url: '/process_purchase/' + currentProduct.productId,
          data: { token: token, order: currentProduct },
          dataType: 'json'
        });

        request.done(function( data ) {
          window.location = '/our_lessons?success';
        });

        request.fail(function( jqXHR, textStatus ) {
          console.log(arguments);
          alert( "Request failed: " + textStatus );
        });
      }
    });

    $(window).on('popstate', function() {
      window.currentProduct = {};
      handler.close();
    });

    $('*[data-trigger="purchase"]').on('click', function(evt) {
      evt.preventDefault();
      var productId     = $(this).data('product-id');
      var multiplier    = parseInt($('#quantity_' + productId).val());
      var qtyPerProduct = $(this).data('lesson-count');
      var quantity      = multiplier * qtyPerProduct;

      if (isNaN(quantity)) {
        $('#quantity_' + productId).focus();
        return alert('You must enter a quantity');
      }

      var name        = $(this).data('name');
      var description = $(this).data('description');
      var amount      = $(this).data('amount');
      var totalAmount = multiplier * amount;
      var totalDesc   = quantity + ' Lessons';
      if (quantity === 1) {
        totalDesc = '1 Lesson';
      }

      window.currentProduct = {
        productId: productId,
        quantity: quantity,
        name: totalDesc,
        description: name,
        amount: totalAmount
      };

      handler.open(currentProduct);
    });
  });
</script>
