<section class="admin-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Instructor Lessons Report</h3>
      </div>
      <div class="col-sm-6">
        <div style="margin-top: 12px;">
          <input type="text" name="date_range" class="form-control" id="dtpicker">
         </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Instructor</th>
              <th>Lessons Taught</th>
            </tr>
            </thead>
            <tbody>
            <% @data.each do |instructor, lesson_count| %>
              <tr>
                <td><%= instructor %></td>
                <td><%= lesson_count %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  init.push(function() {
    $('#dtpicker').daterangepicker({
      "startDate": "<%= @date_from.strftime('%m/%d/%Y') %>",
      "endDate": "<%= @date_to.strftime('%m/%d/%Y') %>",
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, function(start, end, label) {
      window.location = '<%= admin_reports_instructor_lessons_path %>?date_from=' + start.format('YYYY-MM-DD') + '&date_to=' + end.format('YYYY-MM-DD');
    });
  });
</script>
