<section class="admin-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Statistics</h3>
      </div>
      <div class="col-sm-6">
        <div class="input-group" style="margin-top: 12px;">
          <input type="text" name="date_range" class="form-control" id="dtpicker">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Lessons Purchased by Date (last 30 days)
          </div>
          <div class="panel-body">
            <div class="chart-responsive">
              <%= line_chart @order_data, { height: '100px', responsive: true } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Lessons by Status
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart-responsive">
                  <%= chartjs_doughnut_chart @lesson_data, { responsive: true } %>
                </div><!-- ./chart-responsive -->
              </div><!-- /.col -->
              <div class="col-md-4">
                <ul class="chart-legend clearfix list-unstyled">
                  <% @lesson_data.each do |pd| %>
                    <li><i class="fa fa-circle-o" style="color: <%= pd[:color] %>"></i> <%= pd[:label] %></li>
                  <% end %>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            # Referred Users
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Referred By</th>
                  <th>Free Lesson?</th>
                </tr>
              </thead>
              <tbody>
                <% @referred_users.each do |referred_user| %>
                <tr>
                  <td><%= referred_user.created_at.strftime('%m/%d/%Y') %></td>
                  <td><%= link_to referred_user.full_name, profile_path(referred_user) %></td>
                  <td><%= link_to referred_user.referer.full_name, profile_path(referred_user.referer) %></td>
                  <td><%= referred_user.referral_free_lesson_order_id.present? ? 'Yes' : 'No' %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= @referral_count %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<script type="text/javascript">
  init.push(function() {
    $('#dtpicker').daterangepicker({
      "startDate": "<%= @date_from.strftime('%m/%d/%Y') %>",
      "endDate": "<%= @date_to.strftime('%m/%d/%Y') %>",
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, function(start, end, label) {
      window.location = '/admin/reports/lessons?date_from=' + start.format('YYYY-MM-DD') + '&date_to=' + end.format('YYYY-MM-DD');
    });
  });
</script>
