<section class="admin-section">
  <div class="container">
    <h3>My Dashboard</h3>

    <%= render '/shared/flash_messages' unless flash.empty? %>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <% if current_user.admin? %>
              <%= link_to 'Edit Profile', edit_profile_path(id: @user), class: 'btn btn-xs btn-default pull-right' %>
            <% else %>
              <%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-xs btn-default pull-right' %>
            <% end %>
            My Information
          </div>
          <div class="panel-body" style="padding: 0;">
            <table class="table" style="margin: 0;">
              <tr>
                <th>Name</th>
                <td><%= @user.full_name %></td>
              </tr>
              <tr>
                <th>Phone</th>
                <td><%= number_to_phone @user.phone, area_code: true %></td>
              </tr>
              <tr>
                <th>Email</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th>Last Login</th>
                <td><%= @user.last_sign_in_at.try(:strftime, '%b %d, %Y at %I:%M %p') || 'Never' %></td>
              </tr>
              <% if current_user.admin? && current_user.id != @user.id %>
                <tr>
                  <th>Login</th>
                  <td><%= link_to "Login as #{@user.full_name}", login_as_admin_user_path(@user), class: 'btn btn-xs btn-warning' %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <% if current_user.admin? %>
              <%#= link_to '<i class="fa fa-download"></i> Download'.html_safe, export_ical_path(id: @user.id), class: 'btn btn-xs btn-primary pull-right' %>
            <% else %>
              <%#= link_to '<i class="fa fa-download"></i> Download'.html_safe, export_ical_path, class: 'btn btn-xs btn-primary pull-right' %>
            <% end %>
            You have <strong><%= @user.time_slots.scheduled.count %></strong> scheduled lessons
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Date/Time</th>
                <th>Learner</th>
                <th>Teacher</th>
                <th></th>
              </tr>
              <thead>
              <tbody>
              <% @user.time_slots.order('start_at asc').each do |ts| %>
                <tr>
                  <td><% if ts.start_at < Time.current %><i class="fa fa-check text-success"></i><% end %></td>
                  <td><%= ts.start_at.strftime('%a %m/%d/%Y %I:%M %p') %></td>
                  <td><%= ts.student.first_name %></td>
                  <td><%= ts.instructor.first_name %></td>
                  <td class="text-right">
                    <%= link_to '<i class="fa fa-calendar"></i>'.html_safe, scheduler_path(date: ts.start_at.strftime('%F')), class: 'btn btn-xs btn-info' %>
                    <% if current_user.admin? %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, "#{delete_lessons_admin_user_path(@user)}?lesson_id=#{ts.lesson_id}", method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure you want to delete this lesson? This cannot be undone.'} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <% if current_user.admin? %>
              <a href="#"
                 data-trigger="remote-modal"
                 data-url="<%= add_lessons_admin_user_path(@user) %>"
                 data-title="Add Lessons" data-toggle="modal"
                 class="btn btn-xs btn-danger pull-right" style="margin-left: 5px;">Add Lessons</a>
            <% else %>
              <%= link_to 'Buy Lessons', our_lessons_path, class: 'btn btn-xs btn-primary pull-right' %>
            <% end %>
            You have <strong><%= @user.lessons.unassigned.count %></strong> of <strong><%= @user.lessons.count %></strong> unscheduled lesson remaining
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to 'Add Learner', new_student_path, class: 'btn btn-xs btn-success pull-right' %>
            My Learners
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th># Completed</th>
                <th># Scheduled</th>
              </tr>
              </thead>
              <tbody>
              <% @user.students.each do |student| %>
                <tr>
                  <td style="vertical-align: middle;"><%= image_tag(student.avatar.thumb.url, class: 'img-circle img-responsive', style: 'max-width: 36px;') %></td>
                  <td style="vertical-align: middle;"><%= student.first_name %></td>
                  <td style="vertical-align: middle;"><%= student.dob.try(:strftime, '%m/%d/%Y') %></td>
                  <td style="vertical-align: middle;"><%= student.past_time_slots.count %></td>
                  <td style="vertical-align: middle;"><%= student.future_time_slots.count %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to 'Buy Lessons', our_lessons_path, class: 'btn btn-xs btn-success pull-right' unless current_user.admin? %>
            My Purchases
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Service</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Cost</th>
                <% if current_user.admin? %>
                <th>&nbsp;</th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @user.orders.order('created_at asc').each do |order| %>
                <tr>
                  <td><%= order.created_at.strftime('%m/%d/%Y') %></td>
                  <td>Swimming Lesson</td>
                  <td class="text-center"><%= order.quantity %></td>
                  <td class="text-right"><%= number_to_currency order.total %></td>
                  <% if current_user.admin? %>
                    <td class="text-right">
                      <a href="#"
                         data-trigger="remote-modal"
                         data-url="<%= order_details_admin_user_path(@user, order_id: order.id) %>"
                         data-title="Order Details" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
