<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="Aquatics Academy" />
  <meta property="og:description" content="Offering year-round private swimming lessons" />
  <meta property="og:image"       content="<%= asset_url("slide-22.jpg") %>" />
  <%= yield :meta %>
  <title>Aquatics Academy | <%= yield(:title).present? ? yield(:title) : 'Welcome' %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <script>var init = [];</script>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
$(function() {
  $('#allow_cookies').on('click', function(e) {
    $('#cookieless').addClass('loading');
    e.preventDefault();
    window.open('/set_cookie', 'Aquatics Academy', 'height=200,width=150');
  });

  var is_safari = navigator.userAgent.indexOf("Safari") > -1; // safari detection
  if (is_safari) {
    if (!Cookies.get('fixed')) {
      $('#main-content').addClass('hidden');
      $('#cookieless').removeClass('hidden');
    }
  }
});
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1622083224714510";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="wix-nav">
  <ul class="nav nav-pills">
    <% if current_user %>
      <li class="dropdown">
        <%= active_link_to 'Schedule', scheduler_path(location_id: "sandy-pool"), wrap_tag: :li %>
        <%= active_link_to 'Buy Lessons', our_lessons_path, wrap_tag: :li %>
        <%= active_link_to 'Dashboard', profile_path, wrap_tag: :li %>
        <%= active_link_to 'Learners', students_path, wrap_tag: :li %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle top" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Admin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li><%= link_to 'Statistics', admin_reports_lessons_path %></li>
              <li><%= link_to 'Instructor Report', admin_reports_instructor_lessons_path %></li>
              <li><%= link_to 'Manage Users', admin_users_path %></li>
              <li><%= link_to 'Manage Products', admin_products_path %></li>
              <li><%= link_to 'Manage Testimonials', admin_testimonials_path %></li>
              <li><%= link_to 'Manage Locations', admin_locations_path %></li>
              <li><%= link_to 'Manage Schedule', admin_schedule_path %></li>
            <% end %>
            <% if session[:original_user_id].present? %>
              <li role="separator" class="divider"></li>
              <li><%= link_to raw("&laquo; Back to Admin"), return_to_admin_path %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </li>
      <% if session[:original_user_id].present? %>
        <li role="presentation"><%= link_to raw("&laquo; Back to Admin"), return_to_admin_path %></li>
      <% end %>
    <% else %>
      <li role="presentation">
        <%= link_to 'Login/Signup', new_user_session_path, class: %w[ registrations sessions ].include?(controller_name) ? 'active top' : 'top' %>
      </li>
    <% end %>
  </ul>
</section>

<div id="main-content">
  <%= yield %>
</div>

<div id="cookieless" class="text-center" style="margin-top: 25px;">
  <p style="font-size: 18px;">Because you are using Safari, you must manually enable cookies for this site</p>
  <button type="button" class="btn btn-default" id="allow_cookies">Enable Cookies</button>
</div>

<script>
  for (var i = 0; i < init.length; i++) { init[i](); }
</script>

<div class="modal fade" id="global-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" charset="utf-8">
  $('a[data-trigger="remote-modal"]').click(function(e) {
    e.preventDefault();
    var name = $(this).data('title');
    var url = $(this).data('url') || '';
    $.get(url, function(html) {
      var modal = $('#global-modal');
      modal.find('.modal-title').html(name);
      modal.find('.modal-body').html(html);
      modal.modal();
    }.bind(this));
  });
</script>

<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66932445-1', 'auto');
    ga('send', 'pageview');
  </script>
<% end %>

</body>
</html>
